/* Reset some default styles */
body, h1, p, form {
    margin: 0;
    padding: 0;
}

/* Apply a basic style to the body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #10131c;
}

h1
{
    text-align: center;
    color: #fff;
    margin: 10px 0;
}

/* Style the container */
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #212532;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Style the form */
form {
    text-align: center;
}

/* Style the form inputs */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.16);

}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

/* Style the result container */
#load {
    margin-top: 20px
    ;
}

/* Style the result paragraph */
#load p {
    padding: 10px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    color: #155724;
}

/* Responsive styling for small screens */
@media screen and (max-width: 600px) {
    .container {
        max-width: 100%;
        margin: 10px;
    }
}
